<!DOCTYPE html>
<html>
  <head>
    <title><%=title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
      function hideURLbar(){ window.scrollTo(0,1); } 
    </script>
    <link href="/stylesheets/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="/stylesheets/style.css" rel='stylesheet' type='text/css' />
    <script src="/javascripts/jquery-1.11.1.min.js"></script>  
    <script type="text/javascript" src="/javascripts/move-top.js"></script>
    <script type="text/javascript" src="/javascripts/easing.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $(".scroll").click(function(event){		
          event.preventDefault();
          $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
        });
      });
    </script>
    <!-- start-smoth-scrolling -->
    <link href="/stylesheets/font-awesome.css" rel="stylesheet"> 
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
    <!--- start-rate---->
    <script src="/javascripts/jstarbox.js"></script>
      <link rel="stylesheet" href="/stylesheets/jstarbox.css" type="text/css" media="screen" charset="utf-8" />
        <script type="text/javascript">
          jQuery(function() {
          jQuery('.starbox').each(function() {
            var starbox = jQuery(this);
              starbox.starbox({
              average: starbox.attr('data-start-value'),
              changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
              ghosting: starbox.hasClass('ghosting'),
              autoUpdateAverage: starbox.hasClass('autoupdate'),
              buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
              stars: starbox.attr('data-star-count') || 5
              }).bind('starbox-value-changed', function(event, value) {
              if(starbox.hasClass('random')) {
              var val = Math.random();
              starbox.next().text(' '+val);
              return val;
              } 
            })
          });
        });
      </script>
      <!---//End-rate---->
  </head>
  <body>
    <a href="#"><img src="images/download.png" class="img-head" alt=""></a>
    <div class="header">
      <div class="container">			
        <div class="logo">
          <h1 ><a href="/"><b>T<br>H<br>E</b>Jax Mall<span>The Best Online Mall</span></a></h1>
        </div>
        <div class="head-t">
          <ul class="card">
          <% if(isUser) { %> 
            <li><a href='<%=storeurl %>' ><i class="fa fa-file-text-o" aria-hidden="true"></i>My Store</a></li>
            <li><a href="/signout" ><i class="fa fa-file-text-o" aria-hidden="true"></i>Sign out</a></li>
          <% } else { %>
            <li><a href="/signin" ><i class="fa fa-user" aria-hidden="true"></i>signin</a></li>
            <li><a href="/signup" ><i class="fa fa-arrow-right" aria-hidden="true"></i>Signup</a></li>
          <% } %>	
          </ul>	
        </div>			
        <div class="header-ri">
          <ul class="social-top">
            <li><a href="#" >Welcome <%=owner %></a></li>
          </ul>	
        </div>
        <div class="nav-top">
          <div class="collapse navbar-collapse" id="bs-megadropdown-tabs"> 
          <% if(message !== undefined) { %> 
            <div class='<%= mtype %>'>
              <a href="#" class="close" data-dismiss="alert">&times;</a>
                <%= message %>
            </div> 
          <% } %>  
          </div>			
        </div>			
      </div>	
	  </div>		
    <!--Below header-->
    <div data-vide-bg="video/video">
      <div class="container">
        <img src="images/stores.jpg" alt="">	
      </div>
    </div>
	<!--content-->
	<div class="content-top ">
		<div class="container ">
			<div class="spec ">
				<h3>Special Stores</h3>
				<div class="ser-t">
					<b></b>
					<span><i></i></span>
					<b class="line"></b>
				</div>
			</div>
				<div class="tab-head ">
					<nav class="nav-sidebar">
						<ul class="nav tabs ">
						  <li class="active"><a href="#" >Click on a store to view Products</a></li>
						</ul>
					</nav>
					<div class=" tab-content tab-content-t ">
						<div class="tab-pane active text-style" id="tab1">
							<div class=" con-w3l">
								<div class="col-md-3 m-wthree">
									<div class="col-m">								
										<a href="#" data-toggle="modal" data-target="#myModal1" class="offer-img">
											<img src="images/of.png" class="img-responsive" alt="">
											<div class="offer"><p><span>Offer</span></p></div>
										</a>
										<div class="mid-1">
											<div class="women">
												<h6><a href="single.html">Moong</a>(1 kg)</h6>							
											</div>
											<div class="mid-2">
												<p ><label>$2.00</label><em class="item_price">$1.50</em></p>
												  <div class="block">
													<div class="starbox small ghosting"> </div>
												</div>
												<div class="clearfix"></div>
											</div>
											<div class="add">
											   <button class="btn btn-danger my-cart-btn my-cart-b " data-id="1" data-name="Moong" data-summary="summary 1" data-price="1.50" data-quantity="1" data-image="images/of.png">Add to Cart</button>
											</div>
											
										</div>
									</div>
								</div>
								<div class="clearfix"></div>
							 </div>
						</div>
					</div>
				</div>
			
		</div>
		</div>
		</div>

	<!--content-->

<!--footer-->
<div class="footer">
	<div class="container">
		<div class="clearfix"></div>
			<div class="footer-bottom">
				<h2 ><a href="/"><b>T<br>H<br>E</b>Jax Mall<span>The Best Online Mall</span></a></h2>
				<p class="fo-para">Jax Mall is just that special place, one stop shop, powered by BFA</p>
			</div>
		<div class="copy-right">
			<p> &copy; 2017. BFA | Design by  Chibu Jax</p>
		</div>
	</div>
</div>
<!-- //footer-->


<!-- for bootstrap working -->
		<script src="/javascripts/bootstrap.js"></script>
<!-- //for bootstrap working -->
<script type='text/javascript' src="/javascripts/jquery.mycart.js"></script>
  <script type="text/javascript">
  $(function () {

    var goToCartIcon = function($addTocartBtn){
      var $cartIcon = $(".my-cart-icon");
      var $image = $('<img width="30px" height="30px" src="' + $addTocartBtn.data("image") + '"/>').css({"position": "fixed", "z-index": "999"});
      $addTocartBtn.prepend($image);
      var position = $cartIcon.position();
      $image.animate({
        top: position.top,
        left: position.left
      }, 500 , "linear", function() {
        $image.remove();
      });
    }

    $('.my-cart-btn').myCart({
      classCartIcon: 'my-cart-icon',
      classCartBadge: 'my-cart-badge',
      affixCartIcon: true,
      checkoutCart: function(products) {
        $.each(products, function(){
          console.log(this);
        });
      },
      clickOnAddToCart: function($addTocart){
        goToCartIcon($addTocart);
      },
      getDiscountPrice: function(products) {
        var total = 0;
        $.each(products, function(){
          total += this.quantity * this.price;
        });
        return total * 1;
      }
    });

  });
  </script>
  
 
</body>
</html>