<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="/stylesheets/bootstrap.css" rel='stylesheet' type='text/css' />
		<link href="/stylesheets/style.css" rel='stylesheet' type='text/css' />
		<script src="/javascripts/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="/javascripts/move-top.js"></script>
		<script type="text/javascript" src="/javascripts/easing.js"></script>
		<link href="/stylesheets/font-awesome.css" rel="stylesheet"> 
		<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
	</head>
	<body>
  <div class="header">
    <div class="container">			
      <div class="logo">
        <h1 ><a href="/"><b>T<br>H<br>E</b>Jax Mall<span>The Best Online Mall</span></a></h1>
      </div>
      <div class="head-t">
        <ul class="card">
			<li><a href='<%=storeurl %>'><i class="fa fa-file-text-o" aria-hidden="true"></i>Home</a></li>
          <li><a href='<%=storeurl %>'><i class="fa fa-shopping-cart" aria-hidden="true"></i>Store</a></li>
        </ul>	
      </div>			
      <div class="header-ri">
        <ul class="social-top">
        </ul>	
      </div>
      <div class="nav-top">
        <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">  
        </div>			
      </div>			
    </div>	
  </div>	
 <!--banner-->
<div class="banner-top">
	<div class="container">
		<h3 >Product</h3>
		<h4><a href="/">Home</a><label>/</label>Product</h4>
		<div class="clearfix"> </div>
	</div>
</div>
		<div class="single">
			<div class="container">
			        <span class="simpleCart_quantity"></span> items - <span class="simpleCart_total"></span>
            <a href="javascript:;" class="simpleCart_checkout">Checkout</a>
						<div class="single-top-main simpleCart_shelfItem">
	   		<div class="col-md-5 single-top">
	   		<div class="single-w3agile">
							
<div id="picture-frame">
			<img src='/images/<%=imagurl %>' data-src='/images/<%=imagurl %>' alt="" class="img-responsive"/>
		</div>
										<script src="/javascripts/jquery.zoomtoo.js"></script>
								<script>
			$(function() {
				$("#picture-frame").zoomToo({
					magnify: 1
				});
			});
		</script>
		
		
		
			</div>
			</div>
			<div class="col-md-7 single-top-left ">
								<div class="single-right">
				<h3 class="item_name"><%=proname %></h3>
				
					
				 <div class="pr-single">
				  <p class="reduced item_price"><%=price %></p>
					<input type="text" value="1" class="item_Quantity">
				</div>
				<div class="block block-w3">
					<div class="starbox small ghosting"> </div>
				</div>
				<p class="in-pa"> <%=prodescription %> </p>
			   	
				<ul class="social-top">
					<li><a href="#" class="icon facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span></span></a></li>
					<li><a href="#" class="icon twitter"><i class="fa fa-twitter" aria-hidden="true"></i><span></span></a></li>
					<li><a href="#" class="icon pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i><span></span></a></li>
					<li><a href="#" class="icon dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i><span></span></a></li>
				</ul>
					<div class="add add-3">
										   <button class="btn btn-danger item_add my-cart-btn my-cart-b" data-id="1" data-name="Wheat" data-summary="summary 1" data-price="6.00" data-quantity="1" data-image="images/si.jpg">Add to Cart</button>
										</div>
				
				 
			   
			<div class="clearfix"> </div>
			</div>
		 

			</div>
		   <div class="clearfix"> </div>
	   </div>	
				 
				
	</div>
</div>
		<!---->

<!--footer-->
    <div class="footer">
      <div class="container">
        <div class="clearfix"></div>
          <div class="footer-bottom">
            <h2 ><a href="/"><b>T<br>H<br>E</b>Jax Mall<span>The Best Online Mall</span></a></h2>
            <p class="fo-para">Jax Mall is just that special place, one stop shop, powered by BFA</p>
          </div>
        <div class="copy-right">
          <p> &copy; 2017. BFA | Design by  Chibu Jax</p>
        </div>
      </div>
    </div>
<!-- //footer-->
<!-- for bootstrap working -->
		<script src="/javascripts/bootstrap.js"></script>
<!-- //for bootstrap working -->
<script src="/javascripts/simpleCart.js"></script>
<script>
  simpleCart({
    checkout: {
        type: "SendForm" , 
        url: "/checkout",
        sandbox: true , 
        method: "POST" ,       
      currency: "USD",
      email: "you@yours.com"
    }
  });
</script>

</body>
</html>